.advantages {
  overflow: hidden;

  &__container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__image {
    position: relative;
    flex: 0 1 416px;
    min-height: 723px;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      max-width: none;
    }

    &:first-child {
      flex: 0 1 460px;

      img {
        right: 0;
      }
    }
  }

  &__content {
    flex: 0 1 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 11px;
    padding-right: 53px;
    padding-left: 53px;
    font-size: 24px;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 42px;
    }

    &-item {
      position: relative;
      padding-top: 33px;
      padding-bottom: 30px;
      padding-left: 78px;
      line-height: 140%;

      &:not(:last-child) {
        border-bottom: 1px solid $color_border;
      }

      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        height: 47px;
        width: 58px;
        background-image: url("@images/advantages.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__btn {
    padding: 1.4em 2.1em;
    width: 100%;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 0.82em;
    font-weight: 700;
    color: $color_text-dark;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: $color_btn-light;
  }
}

@media (max-width: 1200px) {
  .advantages {
    &__container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__image {
      min-height: 524px;
    }

    &__content {
      padding-top: 5px;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 20px;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &-item {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 58px;

        &:not(:last-child) {
          border-bottom: 1px solid $color_border;
        }

        &::before {
          top: 20px;
          height: 31px;
          width: 38px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .advantages {
    &__container {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &__image {
      min-height: 524px;
    }

    &__content {
      padding-top: 5px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &-item {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 48px;

        &:not(:last-child) {
          border-bottom: 1px solid $color_border;
        }

        &::before {
          top: 20px;
          height: 31px;
          width: 38px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .advantages {
    &__container {
      flex-direction: column;
    }

    &__image {
      min-height: 400px;

      &:first-child {
        flex: 0 1 auto;
      }

      img {
        left: 0;
        right: 0;
        max-width: 100%;
        margin: 0 auto;
      }
    }

    &__content {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &__list {
      &-item {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 40px;

        &::before {
          height: 25px;
          width: 30px;
        }
      }
    }
  }
}
