.start {
  position: relative;
  // padding-top: 200px; // TODO решить как узнать высоту хедера или убрать у него абсолют
  background-color: $color_bg-start;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    padding-bottom: 50px;
    min-height: 1008px;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 24px;
  }

  &__title {
    margin: 0;
    max-width: 600px;
    font-family: Prata, sans-serif;
    font-size: 3.33em;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  &__description {
    margin: 0;
    max-width: 900px;
    font-size: 2.1em;

    &:not(:last-child) {
      margin-bottom: 1.05em;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 1.7em;
    }

    &-item {
      @include flex-v-center;
      font-size: 1em;
      line-height: 110%;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      span {
        margin-right: 10px;
      }
    }

    &-number {
      padding-top: 5px;
      font-family: Prata, sans-serif;
      font-size: 1.66em;
      letter-spacing: 0.04em;
    }

    &-image {
      margin-right: 18px;
      height: 37px;
      width: 39px;
    }
  }

  &__btn {
    padding: 1.4em 2.1em;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    // line-height: 150%;
    color: $color_text-dark;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: $color_btn-light;
  }

  &__image {
    position: relative;
    flex: 0 1 38.2%;

    img {
      position: absolute;
      top: 0;
      left: 10px;
      max-width: none;
      height: calc(100% + 50px);
    }
  }
}

@media (max-width: 1280px) {
  .start {
    &__container {
      min-height: 750px;
    }

    &__content {
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .start {
    &__container {
      min-height: 700px;
    }
  }
}

@media (max-width: 768px) {
  .start {
    &__container {
      padding-top: 100px;
      min-height: 650px;
    }

    &__title {
      font-size: 3em;
    }

    &__list {
      display: block;
      &-text {
        &:last-child {
          padding-left: 55px;
          width: 100%;
        }
      }
    }

    &__image {
      display: none;
    }
  }
}
