$container-offset: 15px;
$content-width: 1595px;
$container: $content-width + $container-offset * 2;
$font-family: Arial, sans-serif;
$font-size: 16px;
$font-weight: 400;

$color_black: #000000;
$color_white: #ffffff;
$color_btn-light: $color_white;
$color_text: $color_white;
$color_text-dark: #222222;
$color_bg: #282829;
$color_bg-start: #222222;
$color_bg-footer: #222222;
$color_border: #55565a;
$color_border-form: #d6d6d6;
$color_text-form: #38535d;
$color_line-footer: #d5c9be;
