@mixin burger-js($color: #fff) {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  &__line,
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background-color: $color;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }

  &.active {
    .burger {
      &__line {
        display: none;
      }
    }

    &::before,
    &::after {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@mixin burger-css($color: #fff, $line-height: 2px, $rotate: 30deg) {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    left: 5%;
    height: $line-height;
    width: 90%;
    background-color: $color;
  }

  &::before {
    top: 5%;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    bottom: 5%;
  }

  &--close {
    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      transform: translateY(-50%) rotate(-$rotate);
    }

    &::after {
      transform: translateY(-50%) rotate($rotate);
    }
  }
}
